<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">新規対応状況を投稿する</h2>
      
        <%# 部分テンプレートでフォームを表示する %>
         <%= render partial: "form", locals: { irgl: @irgl } %>
         <%=link_to '戻る', root_path, class:"back-btn" %>
    </div>
  </div>
</div>